<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.22/system.js"></script>
</head>
<body>
    <p>hello</p>
    
    <script type="text/javascript">
      System.defaultJSExtensions = true;
      System.import("../outFilesJs/TodoApp").then(function (module) {
          new module.TodoApp();
      });

  </script>
</body>
</html>